
*.class

target/classes/db.properties

target/classes/log4j2.xml

target/classes/mybatis/generatorConfig.xml

target/classes/ehcache.xml

target/classes/mybatis/mapper/UserMapper.xml

MyDemo.iml

target/classes/mybatis/mybatis-config.xml

target/classes/spring/applicationContext-mvc.xml

target/classes/spring/applicationContext.xml

target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
