<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--
        plugins在配置文件中的位置必须符合要求，否则会报错，顺序如下:
        properties?, settings?,
        typeAliases?, typeHandlers?,
        objectFactory?,objectWrapperFactory?,
        plugins?,
        environments?, databaseIdProvider?, mappers?
    -->

    <!-- 设置 settings -->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 是否对关联的对象使用懒加载 -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- 是否在获取一个属性时, 把其所有属性都进行初始化. 包括关联的属性. -->
        <setting name="aggressiveLazyLoading" value="false"/>
        <!-- 置为二级缓存打开或者关闭, 默认为打开-->
        <setting name="cacheEnabled" value="true"/>

        <setting name="useGeneratedKeys" value="true"/>
        <setting name="defaultExecutorType" value="REUSE"/>

    </settings>

    <!--<plugins>-->
        <!--&lt;!&ndash; com.github.pagehelper为PageHelper类所在包名 &ndash;&gt;-->
        <!--<plugin interceptor="com.github.pagehelper.PageInterceptor">-->
            <!--&lt;!&ndash; 使用下面的方式配置参数，后面会有所有的参数介绍 &ndash;&gt;-->
            <!--&lt;!&ndash;helperDialect=mysql&ndash;&gt;-->
            <!--&lt;!&ndash;reasonable=true&ndash;&gt;-->
            <!--&lt;!&ndash;supportMethodsArguments=true&ndash;&gt;-->
            <!--&lt;!&ndash;params=count=countSql&ndash;&gt;-->
            <!--&lt;!&ndash;autoRuntimeDialect=true&ndash;&gt;-->
            <!--<property name="param1" value="value1"/>-->
            <!--<property name="helperDialect" value="mysql" />-->
            <!--<property name="reasonable" value="true" />-->
            <!--<property name="supportMethodsArguments" value="true" />-->
            <!--<property name="autoRuntimeDialect" value="true" />-->
        <!--</plugin>-->
    <!--</plugins>-->

</configuration>